/* Common CSS */
body {
  margin: 0;
  background: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
}
/* common css */
/* Off-Canvas Navigation Styles */
.navigation {
  height: 85px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
}
.off-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgb(183, 127, 23);
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 20;
  border: 2px solid rgba(29, 68, 31, 1);
}

.off-nav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.off-nav a:hover {
  background: rgba(29, 68, 31, 1);
}

.off-nav .closebtn {
  position: relative;
  font-size: 36px;
  border-radius: 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(240, 168, 38, 1);
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 19;
  border-radius: 10px;
  margin-top: 0.5%;
}

.openbtn:hover {
  background-color: rgba(29, 68, 31, 1);
}

.logo-div {
  position: absolute;
  z-index: 19;
  width: 100px;
  margin: 10px;
}

.logo {
  width: 100%;
}
/* Off-Canvas Navigation Styles */
/* Ripple Carousel CSS */
.r-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.r-carousel-div {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.r-carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
}

.r-carousel-item:nth-child(1) {
  background-image: url("../images/background/3416659.jpg");
}

.r-carousel-item:nth-child(2) {
  background-image: url("https://cdn.pixabay.com/photo/2020/12/09/03/10/digital-marketing-5816304_640.jpg");
}

.r-carousel-item:nth-child(3) {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/565/512/original/digital-marketing-abstract-technology-background-free-vector.jpg");
}

.r-carousel-item:nth-child(4) {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/565/496/non_2x/digital-marketing-abstract-technology-background-free-vector.jpg");
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(29, 68, 31, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-button:hover {
  background: rgba(29, 68, 31, 0.8);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}
/* Ripple Carousel CSS */
/* Moving Numbers */
.counter {
  text-align: center;
  position: relative;
  z-index: 10;
  font-size: 45px;
}

.countbox {
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.detail-number {
  text-align: center;
}

.moving-numbers {
  width: 70% !important;
  display: flex;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 19;
  color: rgba(29, 68, 31, 1);
  padding: 10px;
  margin-top: -7%;
}

.glass {
  position: relative;
  padding: 20px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  backdrop-filter: blur(10px);
  width: 25%;
  margin: 8px;
}
@media (max-width: 768px) {
  .moving-numbers {
    width: 100% !important;
    border-radius: 0;
    margin-top: 0;
    flex-direction: column;
    display: -webkit-inline-box;
    padding: 20px 0;
    border: 0;
  }
  .glass {
    margin: 0;
  }
  .glass p {
    font-size: x-small;
    font-weight: 900;
  }
}
/* Moving Numbers */
/* About Section */
.about-section {
  padding: 20px;
}

@media (max-width: 768px) {
  .about-section .row {
    flex-direction: column;
  }

  .about-section .col-md-6 {
    width: 100%;
  }

  .about-section .text-start {
    text-align: center;
  }

  .about-section img {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .about-section img {
    width: 100%;
    margin: 0 auto;
  }
}
/* About Section */
/* Service section */
#categories {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.clr:after {
  content: "";
  display: block;
  clear: both;
}
#categories li {
  position: relative;
  list-style-type: none;
  width: 27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float: left;
  overflow: hidden;
  visibility: hidden;

  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n + 2) {
  margin: 0 1%;
}
#categories li:nth-child(6n + 4) {
  margin-left: 0.5%;
}
#categories li:nth-child(6n + 4),
#categories li:nth-child(6n + 5),
#categories li:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;

  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n + 4):last-child,
#categories li:nth-child(6n + 5):last-child,
#categories li:nth-child(6n + 6):last-child {
  margin-bottom: 0%;
}
#categories li * {
  position: absolute;
  visibility: visible;
}
#categories li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;

  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);

  -webkit-backface-visibility: hidden;
}

/* HEX CONTENT */
#categories li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#categories div .heading,
#categories div .text {
  width: 100%;
  padding: 0 5%;
  background-color: rgba(29, 68, 31, 0.8);
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  -webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out,
    0.2s padding 0.2s ease-out;
  -ms-transition: top 0.2s ease-out, bottom 0.2s ease-out,
    0.2s padding 0.2s ease-out;
  transition: top 0.2s ease-out, bottom 0.2s ease-out,
    0.2s padding 0.2s ease-out;
}
#categories li .heading {
  bottom: 110%;
  padding-top: 100%;
  padding-bottom: 100%;
}
#categories li h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  padding-bottom: 5%;
}
#categories li h1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 45%;
  width: 10%;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #fff;
}
#categories li .text {
  padding-top: 50%;
  top: 110%;
  padding-bottom: 50%;
}

@media (max-width: 1055px) {
  #categories li h1 {
    font-size: 1em;
  }
  #categories li p {
    font-size: 0.8em;
  }
  #categories li a {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  #categories li h1 {
    font-size: 0.5em;
  }
  #categories li p {
    font-size: 0.4em;
  }
  #categories li a {
    font-size: 0.4em;
  }
}
/* HOVER EFFECT  */

#categories li div:hover .heading {
  bottom: 50%;
  padding-bottom: 10%;
}

#categories li div:hover .text {
  top: 50%;
  padding-top: 10%;
}
/* Service section */
/* Parallax Image */
.parallax {
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://i.pinimg.com/originals/8d/f7/e3/8df7e3619136f863cb5218d59546322e.gif)
      no-repeat fixed center center;
  background-size: cover;
}
/* Parallax Image */
/* Testimonial */
.test-image {
  width: 10%;
  border-radius: 50%;
}
/* Testimonial */
/* contact */
.contact-form {
  width: 50%;
  position: absolute;
  left: 25%;
  background: #ffffffb9;
  box-shadow: 0 0 3px gray;
  border-radius: 5px;
}
input,textarea{
  background: #ffffffa1 !important;
}

@media (max-width: 550px) {
  .contact-form {
    width: 100%;
    left: 0;
    margin: 0;
    position: relative;
    margin-bottom: 15px;
  }
}
/* contact */