/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Ga+Maamli&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

/* Root Variables */
:root {
  --color-black: #000000; /* Pure Black */
  --color-primary: #000000; /* Primary color for background */
  --color-secondary: #121212; /* Slightly lighter black */

  /* Infinity Stone Colors */
  --color-space-stone: #003c71; /* Blue */
  --color-mind-stone: #f7e23d; /* Yellow */
  --color-reality-stone: #c8102e; /* Red */
  --color-power-stone: #5e2a7b; /* Purple */
  --color-time-stone: #1dff00; /* Green */
  --color-soul-stone: #f57f00; /* Orange */

  --color-text: #ffffff; /* White text */
  --color-hover: #ff4747; /* Light red for hover effects */
  --color-nav-background: #000000; /* Black background for navigation */
  --color-background: #000000; /* Pure black background */
  --font-edu: "Edu AU VIC WA NT Hand", cursive;
  --font-mammli: "Ga Maamli", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-libre: "Libre Franklin", sans-serif;

  --color-hover-1: var(--color-space-stone); /* Blue */
  --color-hover-2: var(--color-mind-stone); /* Yellow */
  --color-hover-3: var(--color-reality-stone); /* Red */
  --color-hover-4: var(--color-power-stone); /* Purple */
  --color-hover-5: var(--color-time-stone); /* Green */
  --color-hover-6: var(--color-soul-stone); /* Orange */
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-libre);
  background: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

li {
  list-style: none;
}

/* Navigation Bar */
#navigationbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.9);
  transition: top 0.3s ease, box-shadow 0.3s ease; /* Add 'top' transition */
  justify-content: space-between;
  padding: 0 20px;
}

/* Scroll-up class to hide navigation bar */
#navigationbar.scroll-up {
  top: -100px; /* Hide the navigation bar when scrolling up */
}

#navigationbar.scroll-down {
  top: 0; /* Show the navigation bar when scrolling down */
}
#navigationbar.scrolled {
  box-shadow: 0 0 10px var(--color-text);
}

/* Logo */
.logo {
  position: relative;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  font-family: var(--font-bebas);
  font-size: 3rem;
  color: var(--color-text);
}

.logo img {
  width: 50px;
  transition: transform 0.3s;
  margin-right: 10px;
}

.logo:hover img {
  animation: pop 1s 1;
}

@keyframes pop {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

/* Offcanvas Menu */
.offcanvas-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.offcanvas-menu input[type="checkbox"] {
  display: none;
}

.offcanvas-menu input[type="checkbox"]:checked ~ .menu-icon span {
  background: transparent;
}

.offcanvas-menu input[type="checkbox"]:checked ~ .menu-icon span::before {
  transform: rotate(45deg);
  top: 0;
  background: var(--color-hover); /* Red for the menu icon */
  width: 30px;
}

.offcanvas-menu input[type="checkbox"]:checked ~ .menu-icon span::after {
  transform: rotate(-45deg);
  top: 0;
  width: 30px;
  background: var(--color-hover-3);
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav {
  right: 0;
}

.offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0);
  transition-delay: calc(0.1s * var(--i));
}

/* Menu Icon */
.menu-icon {
  position: relative;
  top: 0;
  right: 0;
  width: 40px;
  height: 70px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.menu-icon span {
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--color-hover-2);
  display: block;
  transition: all 0.3s ease-in-out;
}

.menu-icon span::before,
.menu-icon span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.menu-icon span::before {
  background: var(--color-hover-6);
  width: 35px;
  transform: translateY(-10px);
}

.menu-icon span::after {
  width: 20px;
  background: var(--color-hover-5);
  transform: translateY(10px);
}

.menu-icon:hover span {
  background: var(--color-hover-5);
}
.menu-icon:hover span::after {
  background: var(--color-hover-6);
}
.menu-icon:hover span::before {
  background: var(--color-hover-2);
}

/* Offcanvas Menu Navigation */
.offcanvas-menu nav {
  position: fixed;
  height: 100%;
  top: 0;
  width: 350px;
  right: -350px;
  background: var(--color-nav-background);
  transition: right 0.3s ease-in-out;
  padding: 40px 30px;
}

.offcanvas-menu nav a {
  font-size: 3rem;
  font-family: var(--font-bebas);
  color: var(--color-text);
}

.offcanvas-menu ul {
  margin-top: 30px;
}

.offcanvas-menu li {
  padding: 10px 0;
  transform: translateX(30px);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
}

.offcanvas-menu li a {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-text);
  margin-left: 0;
  transition: 0.5s ease;
}

.offcanvas-menu li a:hover {
  color: var(--color-hover);
  margin-left: 10px;
}

/* Navigation Header */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.nav-header a {
  display: flex;
  align-items: center;
  font-family: var(--font-bebas);
  font-size: 3rem;
  color: var(--color-text);
}

.nav-header img {
  width: 50px;
  margin-right: 10px;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  color: var(--color-hover);
  font-size: 2rem;
  margin: 0 10px;
  transition: 0.5s ease;
  transform: rotate(0deg) scale(0.5) translateY(0);
}

.social-icons a:hover {
  color: var(--color-hover); /* Using space stone color for hover effect */
  transform: rotate(360deg) scale(1.2) translateY(-10px);
}

/* User Icon */
.user-icon {
  font-size: 3rem;
  color: var(--color-text);
  cursor: pointer;
  transition: 0.5s;
  margin-left: 20px; /* Space between menu and user icon */
}

.user-icon:hover {
  color: var(--color-hover);
}
@media (max-width: 991px) {
  .logo span {
    display: none;
  }
}
.content-section {
  height: 100vh;
  background: url(https://images.hdqwalls.com/download/avengers-endgame-2019-8k-8r-7680x4320.jpg)
    no-repeat center center;
  background-size: cover;
}
