body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  gap: 0.5rem;
  padding: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  background-color: #0d0d12;
  border-radius: 50px;
  position: relative;
  justify-content: center;
  font-size: large;
  color: white;
}
.gradient {
  inset: -100px;
  position: absolute;
  background: conic-gradient(
    #1e87ff,
    #5c13c4,
    #ff0033,
    #ffda00,
    #64bc26,
    #1e87ff
  );
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
}
.btn {
  padding: 5%;
  position: relative;
  background: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
}
.btn:hover .gradient {
  animation-play-state: running;
}
.neon,
.border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50px;
}
.neon {
  filter: blur(10px);
  opacity: 1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
